# the lines below need to be adapted to your run setup
# Ajay: The query file for the 2016 ES-EN SF Pilot task 
query.xml $TAC_ROOT/resources/es-queries/tac_kbp_2016_bilingual_spanish-english_cold_start_training_validated_queries.xml 

# index is in rundir
index ./index
idfile_mapping  ./index/idfile_mapping
rundir $TAC_ROOT/runs/runs-es-pilot-testpipeline

corpusdatapath /iesl/canvas/ajaynagesh/tac2016/spanish_pilot_data/LDC2014E30_TAC_2013_KBP_Spanish_Source_Corpus/data/

runid pilot_run1

# export the variable or point directly to the model locations
# export TAC_MODELS=/iesl/canvas/beroth/tac/data/relationfactory_models
# AJAY: Using the same models as Ben -- might have to change this

model /iesl/canvas/beroth/tac/data/relationfactory_models/svm/ngram_directed_skip_exact.tuned/
featuremap /iesl/canvas/beroth/tac/data/relationfactory_models/svm/ngram_directed_skip_exact.fmap
wikilinks /iesl/canvas/beroth/tac/data/relationfactory_models/expansion/enwiki.linktext.counts


# Use uschema patterns here:
#shortened_patterns $TAC_ROOT/patterns/es-with-pats/es-withpats-patterns.sorted.250k
shortened_patterns $TAC_ROOT/patterns/patterns.sorted-350k
#shortened_patterns /iesl/canvas/beroth/workspace/tackbp2015/runs/uschema_spanish/patterns.sorted.10k

# the lines below can stay untouched for default settings
makefile $TAC_ROOT/bin/es-makefile
#goal response_shortened_patterns
#### changed by Ajay: to generate the candidates to be given to the Compositional USchema code
goal candidates
relations.config $TAC_ROOT/config/relations-es2012.config
featureset ngram_directed,skip_exact
rellist $TAC_ROOT/config/rellist2013
numcores 2
precision_expansion true
coref false
