# the lines below need to be adapted to your run setup
query.xml /iesl/canvas/proj/tackbp/2015/query_v2.0/TAC_KBP_2015_English_Cold_Start_Slot_Filling_Evaluation_Queries_V2/data/tac_kbp_2015_english_cold_start_slot_filling_evaluation_queries.xml

#docidlist /iesl/canvas/proj/tackbp/2015/data/LDC2015E77_TAC_KBP_2015_English_Cold_Start_Evaluation_Source_Corpus_V2.0/docs/doc_ids.txt

corpusdatapath /iesl/canvas/proj/tackbp/2015/data/LDC2015E77_TAC_KBP_2015_English_Cold_Start_Evaluation_Source_Corpus_V2.0/data/

runid UMass_IESL1

# needed for validation / evaluation
#key /iesl/canvas/proj/tackbp2014/coldstart_eval/tac_kbp_2014_english_cold_start_evaluation_assessments.tab
assessments $TAC_ROOT/evaluation/resources/2015/batch_00_05_poolc.assessed.fqec
doclengths /iesl/canvas/proj/tackbp/2015/data/LDC2015E77_TAC_KBP_2015_English_Cold_Start_Evaluation_Source_Corpus_V2.0/docs/doc_lengths.txt

# index is in rundir
index ./index
idfile_mapping ./index.idfile_mapping

rundir $TAC_ROOT/runs/coldstart2015_UMass_IESL_pat

# export the variable or point directly to the model locations
# export TAC_MODELS=/iesl/canvas/beroth/tac/data/relationfactory_models
#model $TAC_MODELS/svm/ngram_directed_skip_exact.tuned/
#featuremap $TAC_MODELS/svm/ngram_directed_skip_exact.fmap
#wikilinks $TAC_MODELS/expansion/enwiki.linktext.counts

model /iesl/canvas/beroth/tac/data/relationfactory_models/svm/ngram_directed_skip_exact.tuned/
featuremap /iesl/canvas/beroth/tac/data/relationfactory_models/svm/ngram_directed_skip_exact.fmap
wikilinks /iesl/canvas/beroth/tac/data/relationfactory_models/expansion/enwiki.linktext.counts

context_patterns /iesl/canvas/beroth/tac/context_patterns2012_coldstart.txt
#/iesl/canvas/strubell/relationfactory/resources/manual_annotation/context_patterns2012_coldstart.txt
# Use uschema patterns here:
induced_patterns /iesl/canvas/beroth/tac/patterns.tuned_coldstart
shortened_patterns /iesl/canvas/nmonath/tac/cold-start/kbs/patterns/response11_pp_filtered_new_inverses_added
#/iesl/canvas/strubell/tackbp2014/patterns.tuned_coldstart

# neural network module
filter_threshold_file_nn /home/beroth/canvas/workspace/relationfactory_iesl/runs/tune_nn/response_nn_pp12.params

# the lines below can stay untouched for default settings
#makefile $TAC_ROOT/bin/coldstart_inverses_shortened_patterns.mk
makefile $TAC_ROOT/bin/coldstart_inverses2015_eval_pat.mk
#goal response_validated
goal eval_2015
modules UMass_IESL1
relations.config $TAC_ROOT/config/relations_coldstart2015.config
featureset ngram_directed,skip_exact
rellist $TAC_ROOT/config/rellist_coldstart2015
numcores 2
precision_expansion true
coref false
