# Spanish 2016 Pilot Config

# the lines below need to be adapted to your run setup
query.xml /iesl/data/ldc/LDC2016E43_TAC_KBP_2016_Bilingual_Spanish-English_Cold_Start_Pilot_Queries/data/tac_kbp_2016_spanish_regular_slot_filling_evaluation_validated_queries.xml

#docidlist /iesl/canvas/proj/tackbp/2016-pilot/LDC2016E42.docslist.spa

corpusdatapath /iesl/data/ldc/LDC2016E42_TAC_KBP_2016_Bilingual_Spanish-English_Cold_Start_Pilot_Source_Corpus/data/spa 

runid UMass_IESL2

# needed for validation / evaluation
#key /iesl/canvas/proj/tackbp2014/coldstart_eval/tac_kbp_2014_english_cold_start_evaluation_assessments.tab
doclengths /iesl/canvas/proj/tackbp/2016-pilot/tac_2016_kbp_spanish_slot_filling_pilot_evaluation_source_corpus.doclengths.txt
# index is in rundir
index ./2016pilotindex-es/index
idfile_mapping ./2016pilotindex-es/index.idfile_mapping

rundir $TAC_ROOT/runs/coldstart2016_pilot_spa_UMass_IESL2_stop_alias_test

# export the variable or point directly to the model locations
# export TAC_MODELS=/iesl/canvas/beroth/tac/data/relationfactory_models

stop_words_list /iesl/canvas/proj/tackbp/2016-pilot/stop_words_en_es

#model /iesl/canvas/beroth/tac/data/relationfactory_models/svm/ngram_directed_skip_exact.tuned/
#featuremap /iesl/canvas/beroth/tac/data/relationfactory_models/svm/ngram_directed_skip_exact.fmap
wikilinks /iesl/canvas/proj/tackbp/2016-pilot/en-es-wiki.linktext.counts.new

#files for redirect expansion                                                                                                                                                       
redirect_en /iesl/canvas/proj/tackbp/2016-pilot/redirectAliasesEN
redirect_sp /iesl/canvas/proj/tackbp/2016-pilot/redirectAliasesSP
linkback_en /iesl/canvas/proj/tackbp/2016-pilot/redirectLinkBackEN
linkback_sp /iesl/canvas/proj/tackbp/2016-pilot/redirectLinkBackSP
langlink /iesl/canvas/proj/tackbp/2016-pilot/enwiki-20160305-langlinks.tsv

context_patterns /iesl/canvas/beroth/tac/context_patterns2012_coldstart.txt 
#/iesl/canvas/strubell/relationfactory/resources/manual_annotation/context_patterns2012_coldstart.txt
# Use uschema patterns here:
induced_patterns /iesl/canvas/beroth/tac/patterns.tuned_coldstart
shortened_patterns /iesl/canvas/nmonath/tac/cold-start/kbs/patterns/response11_pp_filtered_new_inverses_added
#/iesl/canvas/strubell/tackbp2014/patterns.tuned_coldstart

#Pat_results /iesl/canvas/ajaynagesh/tackbp2016.init/torch-relation-extraction/2016-pilot-expq-responses/response_pp2016-pilot-exp-queries 
assessments /iesl/canvas/proj/tackbp/2016-pilot/pool.cssf.assessed.fqec 

# neural network module
#filter_threshold_file_nn /home/beroth/canvas/workspace/relationfactory_iesl/runs/tune_nn/response_nn_pp12.params


# the lines below can stay untouched for default settings
makefile $TAC_ROOT/bin/coldstart_inverses2016pilot-es.mk
#goal eval_2016_pilot 
goal hop1_candidates_inv_for_Pat
modules UMass_IESL2
#relations.config $TAC_ROOT/config/relations_coldstart2015-es.config
relations.config $TAC_ROOT/config/relations_coldstart2015.config
featureset ngram_directed,skip_exact
rellist $TAC_ROOT/config/rellist_coldstart2015
numcores 2
precision_expansion true
coref false
