# the lines below need to be adapted to your run setup
query.xml /iesl/canvas/proj/tackbp2014/coldstart_query2014.xml
docidlist /iesl/canvas/proj/tackbp2014/data/LDC2015E48_TAC_KBP_English_Cold_Start_Collected_Evaluation_Data_Sets_2012-2014/LDC2014R42_TAC_2014_KBP_English_Cold_Start_Evaluation_Source_Corpus/data/tac_2014_kbp_cold_start_evaluation_document_collection.lst
corpusdatapath /iesl/canvas/proj/tackbp2014/data/LDC2013E45_TAC_2013_KBP_Source_Corpus_disc_2/data/English/
runid UMass_IESL1

# needed for validation / evaluation
key /iesl/canvas/proj/tackbp2014/coldstart_eval/tac_kbp_2014_english_cold_start_evaluation_assessments.tab
doclengths $TAC_ROOT/evaluation/ressources/TAC_2014_KBP_Cold_Start_Evaluation_Corpus.doclengths.txt

# index is in rundir
index ./index
idfile_mapping ./index.idfile_mapping

rundir $TAC_ROOT/runs/coldstart2014_inverses_step1_inverses

# export the variable or point directly to the model locations
# export TAC_MODELS=/iesl/canvas/beroth/tac/data/relationfactory_models
#model $TAC_MODELS/svm/ngram_directed_skip_exact.tuned/
#featuremap $TAC_MODELS/svm/ngram_directed_skip_exact.fmap
#wikilinks $TAC_MODELS/expansion/enwiki.linktext.counts

model /iesl/canvas/beroth/tac/data/relationfactory_models/svm/ngram_directed_skip_exact.tuned/
featuremap /iesl/canvas/beroth/tac/data/relationfactory_models/svm/ngram_directed_skip_exact.fmap
wikilinks /iesl/canvas/beroth/tac/data/relationfactory_models/expansion/enwiki.linktext.counts

context_patterns /iesl/canvas/beroth/tac/context_patterns2012_coldstart.txt 
#/iesl/canvas/strubell/relationfactory/resources/manual_annotation/context_patterns2012_coldstart.txt
# Use uschema patterns here:
induced_patterns /iesl/canvas/beroth/tac/patterns.tuned_coldstart
#/iesl/canvas/strubell/tackbp2014/patterns.tuned_coldstart

# the lines below can stay untouched for default settings
makefile $TAC_ROOT/bin/coldstart_inverses.mk
goal response_packaged
relations.config $TAC_ROOT/config/relations_coldstart2015.config
featureset ngram_directed,skip_exact
rellist $TAC_ROOT/config/rellist_coldstart2015
numcores 2
precision_expansion true
coref false
