# TODO: before using these throughout the code make sure all scripts are properly adapted.
gpe:births_in_city arg1tag GPE:CITY
gpe:births_in_city arg1type GPE
gpe:births_in_city arg2tag PERSON
gpe:births_in_city arg2type PER
gpe:births_in_city listtype true
gpe:births_in_country arg1tag GPE:COUNTRY
gpe:births_in_country arg1type GPE
gpe:births_in_country arg2tag PERSON
gpe:births_in_country arg2type PER
gpe:births_in_country listtype true
gpe:births_in_stateorprovince arg1tag GPE:STATE_PROVINCE
gpe:births_in_stateorprovince arg1type GPE
gpe:births_in_stateorprovince arg2tag PERSON
gpe:births_in_stateorprovince arg2type PER
gpe:births_in_stateorprovince listtype true
gpe:deaths_in_city arg1tag GPE:CITY
gpe:deaths_in_city arg1type GPE
gpe:deaths_in_city arg2tag PERSON
gpe:deaths_in_city arg2type PER
gpe:deaths_in_city listtype true
gpe:deaths_in_country arg1tag GPE:COUNTRY
gpe:deaths_in_country arg1type GPE
gpe:deaths_in_country arg2tag PERSON
gpe:deaths_in_country arg2type PER
gpe:deaths_in_country listtype true
gpe:deaths_in_stateorprovince arg1tag GPE:STATE_PROVINCE
gpe:deaths_in_stateorprovince arg1type GPE
gpe:deaths_in_stateorprovince arg2tag PERSON
gpe:deaths_in_stateorprovince arg2type PER
gpe:deaths_in_stateorprovince listtype true
gpe:employees_or_members arg1tag GPE:CITY GPE:STATE_PROVINCE GPE:COUNTRY
gpe:employees_or_members arg1type GPE
gpe:employees_or_members arg2tag PERSON
gpe:employees_or_members arg2type PER
gpe:employees_or_members listtype true
gpe:headquarters_in_city arg1tag GPE:CITY
gpe:headquarters_in_city arg1type GPE
gpe:headquarters_in_city arg2tag ORGANIZATION
gpe:headquarters_in_city arg2type ORG
gpe:headquarters_in_city listtype true
gpe:headquarters_in_country arg1tag GPE:COUNTRY
gpe:headquarters_in_country arg1type GPE
gpe:headquarters_in_country arg2tag ORGANIZATION
gpe:headquarters_in_country arg2type ORG
gpe:headquarters_in_country listtype true
gpe:headquarters_in_stateorprovince arg1tag GPE:STATE_PROVINCE
gpe:headquarters_in_stateorprovince arg1type GPE
gpe:headquarters_in_stateorprovince arg2tag ORGANIZATION
gpe:headquarters_in_stateorprovince arg2type ORG
gpe:headquarters_in_stateorprovince listtype true
gpe:holds_shares_in arg1tag GPE:CITY GPE:STATE_PROVINCE GPE:COUNTRY
gpe:holds_shares_in arg1type GPE
gpe:holds_shares_in arg2tag ORGANIZATION
gpe:holds_shares_in arg2type ORG
gpe:holds_shares_in listtype true
gpe:member_of arg1tag GPE:CITY GPE:STATE_PROVINCE GPE:COUNTRY
gpe:member_of arg1type GPE
gpe:member_of arg2tag ORGANIZATION
gpe:member_of arg2type ORG
gpe:member_of listtype true
gpe:organizations_founded arg1tag GPE:CITY GPE:STATE_PROVINCE GPE:COUNTRY
gpe:organizations_founded arg1type GPE
gpe:organizations_founded arg2tag ORGANIZATION
gpe:organizations_founded arg2type ORG
gpe:organizations_founded listtype true
gpe:residents_of_city arg1tag GPE:CITY
gpe:residents_of_city arg1type GPE
gpe:residents_of_city arg2tag PERSON
gpe:residents_of_city arg2type PER
gpe:residents_of_city listtype true
gpe:residents_of_country arg1tag GPE:COUNTRY
gpe:residents_of_country arg1type GPE
gpe:residents_of_country arg2tag PERSON
gpe:residents_of_country arg2type PER
gpe:residents_of_country listtype true
gpe:residents_of_stateorprovince arg1tag GPE:STATE_PROVINCE
gpe:residents_of_stateorprovince arg1type GPE
gpe:residents_of_stateorprovince arg2tag PERSON
gpe:residents_of_stateorprovince arg2type PER
gpe:residents_of_stateorprovince listtype true
gpe:subsidiaries arg1tag GPE:CITY GPE:STATE_PROVINCE GPE:COUNTRY
gpe:subsidiaries arg1type GPE
gpe:subsidiaries arg2tag ORGANIZATION
gpe:subsidiaries arg2type ORG
gpe:subsidiaries listtype true
org:alternate_names arg1tag ORGANIZATION
org:alternate_names arg1type ORG
org:alternate_names arg2tag ORGANIZATION
org:alternate_names arg2type STRING
org:alternate_names listtype true
org:city_of_headquarters arg1tag ORGANIZATION
org:city_of_headquarters arg1type ORG
org:city_of_headquarters arg2tag GPE:CITY
org:city_of_headquarters arg2type GPE
org:city_of_headquarters listtype false
org:country_of_headquarters arg1tag ORGANIZATION
org:country_of_headquarters arg1type ORG
org:country_of_headquarters arg2tag GPE:COUNTRY
org:country_of_headquarters arg2type GPE
org:country_of_headquarters listtype false
org:date_dissolved arg1tag ORGANIZATION
org:date_dissolved arg1type ORG
org:date_dissolved arg2tag DATE
org:date_dissolved arg2type STRING
org:date_dissolved listtype false
org:date_founded arg1tag ORGANIZATION
org:date_founded arg1type ORG 
org:date_founded arg2tag DATE
org:date_founded arg2type STRING
org:date_founded listtype false
org:employees_or_members arg1tag ORGANIZATION
org:employees_or_members arg1type ORG
org:employees_or_members arg2tag PERSON
org:employees_or_members arg2type PER
org:employees_or_members listtype true
org:founded_by arg1tag ORGANIZATION
org:founded_by arg1type ORG
org:founded_by arg2tag PERSON
org:founded_by arg2type PER
org:founded_by listtype true
org:holds_shares_in arg1tag ORGANIZATION
org:holds_shares_in arg1type ORG
org:holds_shares_in arg2tag ORGANIZATION
org:holds_shares_in arg2type ORG
org:holds_shares_in listtype true
org:member_of arg1tag ORGANIZATION
org:member_of arg1type ORG
org:member_of arg2tag ORGANIZATION
org:member_of arg2type ORG
org:member_of listtype true
org:members arg1tag ORGANIZATION
org:members arg1type ORG
org:members arg2tag ORGANIZATION
org:members arg2type ORG
org:members listtype true
org:number_of_employees_members arg1tag ORGANIZATION
org:number_of_employees_members arg1type ORG
org:number_of_employees_members arg2tag CARDINAL
org:number_of_employees_members arg2type STRING
org:number_of_employees_members listtype false
org:organizations_founded arg1tag ORGANIZATION
org:organizations_founded arg1type ORG
org:organizations_founded arg2tag ORGANIZATION
org:organizations_founded arg2type ORG
org:organizations_founded listtype true
org:parents arg1tag ORGANIZATION
org:parents arg1type ORG
org:parents arg2tag ORGANIZATION
org:parents arg2type ORG
org:parents listtype true
org:political_religious_affiliation arg1tag ORGANIZATION
org:political_religious_affiliation arg1type ORG
org:political_religious_affiliation arg2tag NORP:POLITICAL NORP:RELIGION
org:political_religious_affiliation arg2type STRING
org:political_religious_affiliation listtype true
org:shareholders arg1tag ORGANIZATION
org:shareholders arg1type ORG
org:shareholders arg2tag ORGANIZATION
org:shareholders arg2type ORG
org:shareholders listtype true
org:stateorprovince_of_headquarters arg1tag ORGANIZATION
org:stateorprovince_of_headquarters arg1type ORG
org:stateorprovince_of_headquarters arg2tag GPE:STATE_PROVINCE
org:stateorprovince_of_headquarters arg2type GPE
org:stateorprovince_of_headquarters listtype false
org:students arg1tag ORGANIZATION
org:students arg1type ORG
org:students arg2tag PERSON
org:students arg2type PER
org:students listtype true
org:subsidiaries arg1tag ORGANIZATION
org:subsidiaries arg1type ORG
org:subsidiaries arg2tag ORGANIZATION
org:subsidiaries arg2type ORG
org:subsidiaries listtype true
org:top_members_employees arg1tag ORGANIZATION
org:top_members_employees arg1type ORG
org:top_members_employees arg2tag PERSON
org:top_members_employees arg2type PER
org:top_members_employees listtype true
org:website arg1tag ORGANIZATION
org:website arg1type ORG
org:website arg2tag URL
org:website arg2type STRING
org:website listtype false
per:age arg1tag PERSON
per:age arg1type PER
per:age arg2tag CARDINAL
per:age arg2type STRING
per:age listtype false
per:alternate_names arg1tag PERSON
per:alternate_names arg1type PER
per:alternate_names arg2tag PERSON
per:alternate_names arg2type STRING
per:alternate_names listtype true
per:cause_of_death arg1tag PERSON
per:cause_of_death arg1type PER
per:cause_of_death arg2tag CAUSE_DEATH
per:cause_of_death arg2type STRING
per:cause_of_death listtype false
per:charges arg1tag PERSON
per:charges arg1type PER
per:charges arg2tag CHARGES
per:charges arg2type STRING
per:charges listtype true
per:children arg1tag PERSON
per:children arg1type PER
per:children arg2tag PERSON
per:children arg2type PER
per:children listtype true
per:cities_of_residence arg1tag PERSON
per:cities_of_residence arg1type PER
per:cities_of_residence arg2tag GPE:CITY
per:cities_of_residence arg2type GPE
per:cities_of_residence listtype true
per:city_of_birth arg1tag PERSON
per:city_of_birth arg1type PER
per:city_of_birth arg2tag GPE:CITY
per:city_of_birth arg2type GPE
per:city_of_birth listtype false
per:city_of_death arg1tag PERSON
per:city_of_death arg1type PER
per:city_of_death arg2tag GPE:CITY
per:city_of_death arg2type GPE
per:city_of_death listtype false
per:countries_of_residence arg1tag PERSON
per:countries_of_residence arg1type PER
per:countries_of_residence arg2tag GPE:COUNTRY
per:countries_of_residence arg2type GPE
per:countries_of_residence listtype true
per:country_of_birth arg1tag PERSON
per:country_of_birth arg1type PER
per:country_of_birth arg2tag GPE:COUNTRY
per:country_of_birth arg2type GPE
per:country_of_birth listtype false
per:country_of_death arg1tag PERSON
per:country_of_death arg1type PER
per:country_of_death arg2tag GPE:COUNTRY
per:country_of_death arg2type GPE
per:country_of_death listtype false
per:date_of_birth arg1tag PERSON
per:date_of_birth arg1type PER
per:date_of_birth arg2tag DATE
per:date_of_birth arg2type STRING
per:date_of_birth listtype false
per:date_of_death arg1tag PERSON
per:date_of_death arg1type PER
per:date_of_death arg2tag DATE
per:date_of_death arg2type STRING
per:date_of_death listtype false
per:employee_or_member_of arg1tag PERSON
per:employee_or_member_of arg1type PER
per:employee_or_member_of arg2tag ORGANIZATION
per:employee_or_member_of arg2type ORG
per:employee_or_member_of listtype true
per:holds_shares_in arg1tag PERSON
per:holds_shares_in arg1type PER
per:holds_shares_in arg2tag ORGANIZATION
per:holds_shares_in arg2type ORG
per:holds_shares_in listtype true
per:organizations_founded arg1tag PERSON
per:organizations_founded arg1type PER
per:organizations_founded arg2tag ORGANIZATION
per:organizations_founded arg2type ORG
per:organizations_founded listtype true
per:origin arg1tag PERSON
per:origin arg1type PER
per:origin arg2tag GPE:COUNTRY
per:origin arg2type STRING
per:origin listtype true
per:other_family arg1tag PERSON
per:other_family arg1type PER
per:other_family arg2tag PERSON
per:other_family arg2type PER
per:other_family listtype true
per:parents arg1tag PERSON
per:parents arg1type PER
per:parents arg2tag PERSON
per:parents arg2type PER
per:parents listtype true
per:religion arg1tag PERSON
per:religion arg1type PER
per:religion arg2tag NORP:RELIGION
per:religion arg2type STRING
per:religion listtype false
per:schools_attended arg1tag PERSON
per:schools_attended arg1type PER
per:schools_attended arg2tag ORGANIZATION
per:schools_attended arg2type ORG
per:schools_attended listtype true
per:siblings arg1tag PERSON
per:siblings arg1type PER
per:siblings arg2tag PERSON
per:siblings arg2type PER
per:siblings listtype true
per:spouse arg1tag PERSON
per:spouse arg1type PER
per:spouse arg2tag PERSON
per:spouse arg2type PER
per:spouse listtype true
per:stateorprovince_of_birth arg1tag PERSON
per:stateorprovince_of_birth arg1type PER
per:stateorprovince_of_birth arg2tag GPE:STATE_PROVINCE
per:stateorprovince_of_birth arg2type GPE
per:stateorprovince_of_birth listtype false
per:stateorprovince_of_death arg1tag PERSON
per:stateorprovince_of_death arg1type PER
per:stateorprovince_of_death arg2tag GPE:STATE_PROVINCE
per:stateorprovince_of_death arg2type GPE
per:stateorprovince_of_death listtype false
per:statesorprovinces_of_residence arg1tag PERSON
per:statesorprovinces_of_residence arg1type PER
per:statesorprovinces_of_residence arg2tag GPE:STATE_PROVINCE
per:statesorprovinces_of_residence arg2type GPE
per:statesorprovinces_of_residence listtype true
per:title arg1tag PERSON
per:title arg1type PER
per:title arg2tag JOB_TITLE
per:title arg2type STRING
per:title listtype true
per:top_member_employee_of arg1tag PERSON
per:top_member_employee_of arg1type PER
per:top_member_employee_of arg2tag ORGANIZATION
per:top_member_employee_of arg2type ORG
per:top_member_employee_of listtype true
