org:alternate_names argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
org:alternate_names enttype ORG
org:alternate_names listtype true
org:city_of_headquarters argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
org:city_of_headquarters enttype ORG
org:city_of_headquarters listtype false
org:country_of_headquarters argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
org:country_of_headquarters enttype ORG
org:country_of_headquarters listtype false
org:date_dissolved argtag CARDINAL MONEY DATE QUANTITY PERCENT ORDINAL
org:date_dissolved enttype ORG
org:date_dissolved listtype false
org:date_founded argtag CARDINAL MONEY DATE QUANTITY PERCENT ORDINAL
org:date_founded enttype ORG
org:date_founded listtype false
org:founded_by argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
org:founded_by enttype ORG
org:founded_by listtype true
org:member_of argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
org:member_of enttype ORG
org:member_of listtype true
org:members argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
org:members enttype ORG
org:members listtype true
org:number_of_employees_members argtag CARDINAL MONEY DATE QUANTITY PERCENT ORDINAL
org:number_of_employees_members enttype ORG
org:number_of_employees_members listtype false
org:parents argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
org:parents enttype ORG
org:parents listtype true
org:political_religious_affiliation argtag NORP:POLITICAL NORP:RELIGION
org:political_religious_affiliation enttype ORG
org:political_religious_affiliation listtype true
org:shareholders argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
org:shareholders enttype ORG
org:shareholders listtype true
org:stateorprovince_of_headquarters argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
org:stateorprovince_of_headquarters enttype ORG
org:stateorprovince_of_headquarters listtype false
org:subsidiaries argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
org:subsidiaries enttype ORG
org:subsidiaries listtype true
org:top_members_employees argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
org:top_members_employees enttype ORG
org:top_members_employees listtype true
org:website argtag URL
org:website enttype ORG
org:website listtype false
per:age argtag CARDINAL MONEY DATE QUANTITY PERCENT ORDINAL 
per:age enttype PER
per:age listtype false
per:alternate_names argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:alternate_names enttype PER
per:alternate_names listtype true
per:cause_of_death argtag CAUSE_DEATH
per:cause_of_death enttype PER
per:cause_of_death listtype false
per:charges argtag CHARGES
per:charges enttype PER
per:charges listtype true
per:children argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:children enttype PER
per:children listtype true
per:cities_of_residence argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:cities_of_residence enttype PER
per:cities_of_residence listtype true
per:city_of_birth argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:city_of_birth enttype PER
per:city_of_birth listtype false
per:city_of_death argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:city_of_death enttype PER
per:city_of_death listtype false
per:countries_of_residence argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:countries_of_residence enttype PER
per:countries_of_residence listtype true
per:country_of_birth argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:country_of_birth enttype PER
per:country_of_birth listtype false
per:country_of_death argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:country_of_death enttype PER
per:country_of_death listtype false
per:date_of_birth argtag CARDINAL MONEY DATE QUANTITY PERCENT ORDINAL
per:date_of_birth enttype PER
per:date_of_birth listtype false
per:date_of_death argtag CARDINAL MONEY DATE QUANTITY PERCENT ORDINAL
per:date_of_death enttype PER
per:date_of_death listtype false
per:employee_or_member_of argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:employee_or_member_of enttype PER
per:employee_or_member_of listtype true
per:origin argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:origin enttype PER
per:origin listtype true
per:other_family argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:other_family enttype PER
per:other_family listtype true
per:parents argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:parents enttype PER
per:parents listtype true
per:religion argtag NORP:RELIGION
per:religion enttype PER
per:religion listtype false
per:schools_attended argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:schools_attended enttype PER
per:schools_attended listtype true
per:siblings argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:siblings enttype PER
per:siblings listtype true
per:spouse argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:spouse enttype PER
per:spouse listtype true
per:stateorprovince_of_birth argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:stateorprovince_of_birth enttype PER
per:stateorprovince_of_birth listtype false
per:stateorprovince_of_death argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:stateorprovince_of_death enttype PER
per:stateorprovince_of_death listtype false
per:statesorprovinces_of_residence argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:statesorprovinces_of_residence enttype PER
per:statesorprovinces_of_residence listtype true
per:title argtag JOB_TITLE
per:title enttype PER
per:title listtype true
per:holds_shares_in argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:holds_shares_in enttype PER
per:holds_shares_in listtype true
per:holds_shares_in inverse org:shareholders
per:organizations_founded argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:organizations_founded enttype PER
per:organizations_founded listtype true
per:organizations_founded inverse org:founded_by
per:top_member_employee_of argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
per:top_member_employee_of enttype PER
per:top_member_employee_of listtype true
per:top_member_employee_of inverse org:top_members_employees
gpe:employees_or_members argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:employees_or_members enttype GPE
gpe:employees_or_members listtype true
gpe:employees_or_members inverse per:employee_or_member_of
gpe:births_in_city argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:births_in_city enttype GPE
gpe:births_in_city listtype true
gpe:births_in_city inverse per:city_of_birth
gpe:births_in_stateorprovince argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:births_in_stateorprovince enttype GPE
gpe:births_in_stateorprovince listtype true
gpe:births_in_stateorprovince inverse per:stateorprovince_of_birth
gpe:births_in_country argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:births_in_country enttype GPE
gpe:births_in_country listtype true
gpe:births_in_country inverse per:country_of_birth
gpe:residents_of_city argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:residents_of_city enttype GPE
gpe:residents_of_city listtype true
gpe:residents_of_city inverse per:cities_of_residence
gpe:residents_of_stateorprovince argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:residents_of_stateorprovince enttype GPE
gpe:residents_of_stateorprovince listtype true
gpe:residents_of_stateorprovince inverse per:statesorprovinces_of_residence
gpe:residents_of_country argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:residents_of_country enttype GPE
gpe:residents_of_country listtype true
gpe:residents_of_country inverse per:countries_of_residence
gpe:deaths_in_city argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:deaths_in_city enttype GPE
gpe:deaths_in_city listtype true
gpe:deaths_in_city inverse per:city_of_death
gpe:deaths_in_stateorprovince argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:deaths_in_stateorprovince enttype GPE
gpe:deaths_in_stateorprovince listtype true
gpe:deaths_in_stateorprovince inverse per:stateorprovince_of_death
gpe:deaths_in_country argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:deaths_in_country enttype GPE
gpe:deaths_in_country listtype true
gpe:deaths_in_country inverse per:country_of_death
gpe:holds_shares_in argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:holds_shares_in enttype GPE
gpe:holds_shares_in listtype true
gpe:holds_shares_in inverse org:shareholders
gpe:organizations_founded argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:organizations_founded enttype GPE
gpe:organizations_founded listtype true
gpe:organizations_founded inverse org:founded_by
gpe:member_of argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:member_of enttype GPE
gpe:member_of listtype true
gpe:member_of inverse org:members
gpe:subsidiaries argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:subsidiaries enttype GPE
gpe:subsidiaries listtype true
gpe:subsidiaries inverse org:parents
gpe:headquarters_in_city argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:headquarters_in_city enttype GPE
gpe:headquarters_in_city listtype true
gpe:headquarters_in_city inverse org:city_of_headquarters
gpe:headquarters_in_stateorprovince argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:headquarters_in_stateorprovince enttype GPE
gpe:headquarters_in_stateorprovince listtype true
gpe:headquarters_in_stateorprovince inverse org:stateorprovince_of_headquarters
gpe:headquarters_in_country argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
gpe:headquarters_in_country enttype GPE
gpe:headquarters_in_country listtype true
gpe:headquarters_in_country inverse org:country_of_headquarters
org:employees_or_members argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
org:employees_or_members enttype ORG
org:employees_or_members listtype true
org:employees_or_members inverse per:employee_or_member_of
org:students argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
org:students enttype ORG
org:students listtype true
org:students inverse per:schools_attended
org:holds_shares_in argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
org:holds_shares_in enttype ORG
org:holds_shares_in listtype true
org:holds_shares_in inverse org:shareholders
org:organizations_founded argtag PERSON ORGANIZATION GPE:COUNTRY GPE:CITY GPE:STATE_PROVINCE NORP:NATIONALITY
org:organizations_founded enttype ORG
org:organizations_founded listtype true
org:organizations_founded inverse org:founded_by
